language: python
cache:
  pip: true
  directories:
    - node_modules
sudo: false
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
  - "pypy3"
install:
  - pip install codecov pytest-cov
  - nvm install 8
  - npm i
  - npm run build-assets --production
matrix:
  include:
    - python: "3.7"
      sudo: required
      dist: xenial
    - python: "nightly"
      sudo: required
      dist: xenial
  allow_failures:
    - python: "nightly"
  fast_finish: true
script:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pytest --cov --cov-report=
after_success:
  - codecov
