[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-babel = "*"
keyboard = "*"
six = "*"
"flask-bootstrap-4-alpha" = "*"

[dev-packages]
pytest = "*"
pipenv-to-requirements = "*"
coverage = "*"
blinker = "*"
flask-debugtoolbar = "*"
mock = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
