[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-babel = "*"
flask-bootstrap-4-alpha = {ref = "fork", git = "https://github.com/NyanKiyoshi/flask-bootstrap-4-alpha"}
keyboard = "*"

[dev-packages]
pytest = "*"
pipenv-to-requirements = "*"
coverage = "*"
blinker = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3"
