{% extends '_bootstrap_base.html' %}

{% set title=pgettext('Login form title', 'Login') %}

{% block title %}{{ title }}{% endblock %}

{%- block content %}
  <div class="row">
    <div class="m-auto col col-12 col-md-6 col-lg-4">
      <h1 class="mb-4 mt-4">{{ title }}</h1>
      <form method="POST">

        {# This condition is False when CSRF is disabled #}
        {% if 'csrf_token' in form %}
          {{ form.csrf_token() }}
        {% endif %}

        {# Show form errors, from post-validation #}
        {%- with errors=form.errors %}
          {%- if errors and '__form__' in errors %}
            {%- for error in errors['__form__'] %}
              <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endfor -%}
          {% endif -%}
        {% endwith -%}

        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        <button class="btn btn-primary float-right" type="submit">{{ pgettext('Login Form, Primary Button', 'Login') }}</button>
      </form>
    </div>
  </div>
{% endblock -%}
