<div class="sidebar-container">
  <div class="brand">
    <span>Showroom Manager</span>
    <button class="btn btn-sm fa fa-bars toggle-btn" data-toggle="collapse" data-target="#menu-content" aria-expanded="false" aria-controls="menu-content">
      {{ pgettext('Front Sidebar, button to toggle the sidebar', 'Menu') }}
    </button>
  </div>

  <div class="menu-container">
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        {% include 'snippets/sidebar/_sidebar_entries.html' %}
      </ul>
   </div>
  </div>
</div>
